/* #region GENERAL */

:root {

    /* #region PALETTE */
    --primary-chiari: #fff;
    --secondary-chiari: #D6D3C8;
    --tertiary-chiari: #E7E4D8;

    --primary-scure: #252525;
    --secondary-scure: #333;
    --tertiary-scure: #000;
    /* #endregion PALETTE */
    
    --font-family: Georgia, serif;

    box-sizing: border-box;

    /* do not use pixels for font-size*/
    font-size: 62.5%;

    font-family: var(--font-family);
    
    color: var(--primary-scure);
}

figcaption {
    min-height: 20px;
    height: 1.2em;
    color: var(--primary-chiari);

    transition: translate(-50%, -50%);
    left: 0%;

    position: relative;
    width: 60%;
    bottom: 10%;
    
    background-color: var(--primary-scure);
    font-size: 3em;
    
    text-align: center;

    font-style: italic;
    font-weight: lighter;
}

input {
    resize: none;
    border: 5px solid var(--primary-scure);
    background-color: #fff0;
    font-size: 3em;
}

input:focus {
    outline: none;
}

input::placeholder {
    font-family: var(--font-family);
    font-style: italic;
}

button {
    margin: 10% 0;
    background-color: #fff0;
    color: var(--primary-scure);
    font-weight: bold;
    font-size: 2em;
    letter-spacing: 1px;
    width: 175px;
    height: 50px;
    transition: .7s;
}

button:hover {
    cursor: pointer;
    background-color: var(--primary-scure);
    color: var(--primary-chiari);
}

h1 {
    font-size: 8.6em;
    transition: .1s;
}

h3 {
    font-size: 1em;
    transition: 1s;
}

h5 {
    font-size: .5em;
    transition: 1s;
}

p {
    transition: 1s;
}

a {
    color: inherit;
    text-decoration: none;
}

/* #endregion GENERAL */

/* #region HEADER */

header {
    position: sticky;
    top: 0;
    z-index: 90;

    width: 100%;
    height: 120px;
    background-color: var(--primary-scure);
}

header nav {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    color: var(--primary-chiari);
}

header nav h1 {
    font-weight: bold;
}

header nav ul {
    width: 60%;
    font-size: 2.2vw;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header nav ul li {
    padding: 4% .5%;
    height: inherit;
}

header nav ul li::after {
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    background-color: var(--primary-chiari);
    transition: .4s;
}

header nav ul li:hover::after {
    width: 100%;
}

/* #endregion HEADER */

/* #region MAIN */

.container {
    width: 100%;
    background-color: var(--tertiary-chiari);
    overflow-wrap: break-word;
}

/* #region SECTION 1 */

#cfs-br-sect1 {
    width: 100%;

    text-align: center;
    font-weight: bold;
    color: var(--primary-chiari);

    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;

    font-size: 8em;

    background-image: url(../imgs/bg-intro.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#innerText-sect1 {
    padding: 5%;
    width: 50%;
    min-width: 250px;
}

#innerText-sect1 h3::after {
    display: block;
    content: "";
    background-color: white;
    width: 20px;
    height: 5px;
    margin: 10px auto;
}

#innerText-sect1 h5 {
    margin: 50px;
    font-weight: lighter;
    font-style: italic;
}

/* #endregion SECTION 1 */

/* #region SECTION 2 */

#cfs-br-sect2 {
    width: 100%;
    border: 5px;
    background-color: var(--primary-chiari);

    display: flex;
    justify-content: center;
}

#m-mstr-d {
    padding: 8%;
    width: 50%;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#m-mstr-d h3 {
    font-size: 4.2em;
    font-weight: bold;
}

#sd-by-sd-imgs {
    margin: 10%;

    display: flex;
    justify-content: center;
}

#sd-by-sd-imgs img {
    margin: 5px;
    width: 30vw;
}

#o-cf-e-txt {
    font-size: 3em;
    font-style: italic;
    font-weight: lighter;
}

/* #endregion SECTION 2 */

/* #region SECTION 3 */

#cfs-br-sect3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 5px solid var(--secondary-chiari);
    border-bottom: 5px solid var(--secondary-chiari);
}

#cfs-br-sect3 button {
    margin: 0px auto 5%;
}

.state-div {
    padding: 2% 0;
    width: 30vw;

    font-size: 5em;
    font-weight: bold;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

#states {
    background-color: var(--tertiary-chiari);
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.state-name::before {
    content: '';
    display: block;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    box-shadow: 0 0 0 5px;
    border: 5px solid var(--secondary-chiari);
    background-color: var(--primary-scure);
    margin: 10px auto 40px;
    animation: box-shadow-anim 2s infinite;
}

@keyframes box-shadow-anim {
   0% {box-shadow: 0 0 0 5px;}
   50% {box-shadow: 0 0 0 10px;}
   100% {box-shadow: 0 0 0 5px;}
}

#sp::before {
    background-color: #492901;
    color: #492901;
}

#rj::before {
    background-color: #C17139;
    color: #C17139;
}

#mg::before {
    background-color: #D7A54D;
    color: #D7A54D;
}

.state-div p {
    margin: 10%;
    font-size: .5em;
    font-weight: lighter;
    text-align: left;
}

/* #endregion SECTION 3 */

/* #region SECTION 4 */

#cfs-br-sect4 {
    background-color: var(--primary-chiari);
    width: 100%;
}

.locations {
    margin: 5% 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.locationText {
    padding: 2%;
    word-wrap: break-word;
    width: 30%;
}

.locationText h3 {
    font-size: 4em;
    font-weight: bold;
}

.locationText p {
    font-size: 2em;
}

/* #endregion SECTION 4 */

/* #endregion MAIN */

/* #region FOOTER */

footer {
    background-color: var(--secondary-chiari);
}

footer nav {
    width: 100%;
}

#newsletter {
    background-color: var(--tertiary-chiari);
    padding: 3%;

    display: flex;
    justify-content: space-between;
}

#news-left h3 {
    font-size: 5em;
    font-weight: bold;
}

#news-left h5 {
    font-size: 3em;
    font-weight: lighter;
    font-style: italic;
}

/* #region SUBSCRIPTION */

#news-right {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

#news-right input {
    height: 40%;
    border: 5px solid var(--primary-scure);
}

#news-right button {
    border: none;
    margin: 0 0;
    height: 55%;
    background-color: var(--primary-scure);
    color: var(--primary-chiari);
}

#news-right button:hover {
    background-color: var(--primary-chiari);
    color: var(--primary-scure);
}

/* #endregion SUBSCRIPTION */

#info {
    padding: 3%;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    font-size: 2em;
    font-weight: lighter;
}

#info img {
    height: 37px;
    width: 135px;
}

/* #endregion FOOTER */

/* #region SMALL SCREEN ALT */


@media screen and (max-height: 700px) {
    /* #region SECTION 1 */

        #innerText-sect1 {
            font-size: .7em;
        }

    /* #endregion */
}


@media screen and (max-width: 900px) {

    /* #region GENERAL */
    :root {
        font-size: 40%;
    }

    button {
        height: 40px;
        width: 120px;
    }

    figcaption {
        position: relative;
        width: 60%;
        bottom: 10%;
        left: 20%;
    }

    /* #endregion GENERAL */

    /* #region HEADER */

    header {
        height: 170px;
    }

    header nav {
        flex-direction: column;
        align-content: center;
    }

    header nav h1 {
        margin: 0 auto;
    }

    header nav ul {
        margin: 20px auto 0;
        font-size: 2.5em;
        width: 100%;
    }

    /* #endregion HEADER */

    /* #region SECTION 2 */

    #m-mstr-d h3 {
        font-size: 2em;
    }

    #sd-by-sd-imgs {
        flex-direction: column;
    }

    #o-cf-e-txt {
        font-size: 2em;
    }

    /* #endregion SECTION 2 */

    /* #region SECTION 3 */

    #states {
        flex-direction: column;
        align-content: center;
    }

    .state-div {
        width: 60vw;
    }

    /* #endregion SECTION 3 */

    /* #region SECTION 4 */

    .locations {
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
    }

    .locationText {
        width: 50%;
    }

    .locationText p {
        margin: 5% 0;
    }

    .locations img {
        height: 50%;
        width: 50%;
    }

    /* #endregion SECTION 4 */

    /* #region FOOTER */

    /* #region NEWSLETTER */

    #newsletter {
        font-size: .5em;
        flex-direction: column;
    }

    #news-left {
        width: 50%;
        margin: 0 auto;
    }

    #news-right {
        margin-top: 20px;
        padding-right: 55px;
        margin-left: 0;
        flex-direction: column;
    }

    #news-right input {
        border: 2px solid;
    }

    #news-right button {
        height: 17px;
        width: 50px;
    }

    /* #endregion NEWSLETTER */

    #info {
        padding: 5% 30%;
        width: 35%;
        flex-direction: column;
        height: 130px;
    }

    /* #endregion FOOTER */
}

/* #endregion SMALL SCREEN ALT*/
